@model IEnumerable<WSPManage.Models.rental>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rentals</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rentalID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.propertyID)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rentalID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customerIDName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.propertyIDName)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rentalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.rentalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rentalID })
        </td>
    </tr>
}

</table>
