@model WSPManage.Models.customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingZipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingZipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalZipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalZipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
