@model WSPManage.Models.property

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details for property <b>#@Html.ValueFor(model => model.propertyID)</b></h2>

<div>
    <!-- <h4>property</h4> -->
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalZipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalZipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalCounty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalCounty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcquireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcquireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertySource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertySource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegallyAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegallyAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicallyAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicallyAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WSPOwned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WSPOwned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCarrier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCarrier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsurancePolicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsurancePolicy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsurancePolicyExpiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsurancePolicyExpiration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WSPLiabilityDateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WSPLiabilityDateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WSPBalanceOwed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WSPBalanceOwed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxIDNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxIDNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastYearPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastYearPaid)
        </dd>

        <!--
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserModified)
        </dd>
        -->
    </dl>
</div>

<hr />

Date Modified: <b>@Html.ValueFor(model => model.DateModified)</b> &nbsp; &nbsp; | &nbsp; &nbsp;
User Modified: <b>@Html.ValueFor(model => model.UserModified)</b> &nbsp; &nbsp; | &nbsp; &nbsp;
Date Created: <b>@Html.ValueFor(model => model.DateCreated)</b> &nbsp; &nbsp; | &nbsp; &nbsp;
User Created: <b>@Html.ValueFor(model => model.UserCreated)</b>

<hr />

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.propertyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
