@model PagedList.IPagedList<WSPManage.Models.property>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Properties</h2>

<p>
    @Html.ActionLink("Create New Property", "Create")
</p>

@using (Html.BeginForm("Index", "property", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Active
        </th>
        <th>
            @Html.ActionLink("Address", "Index", new { sortOrder = ViewBag.PhysicalAddressSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("City", "Index", new { sortOrder = ViewBag.PhysicalCitySortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("State", "Index", new { sortOrder = ViewBag.PhysicalStateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Zipcode", "Index", new { sortOrder = ViewBag.PhysicalZipcodeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalZipcode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.propertyID }) |
                @Html.ActionLink("Details", "Details", new { id=item.propertyID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.propertyID })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
