@model IEnumerable<WSPManage.Models.property>

@{
    ViewBag.Title = "Properties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Properties</h2>

<p>
    @Html.ActionLink("Create New Property", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalZipcode)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.PhysicalCounty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcquireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarketValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertySource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegallyAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicallyAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WSPOwned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsuranceRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsuranceCarrier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsurancePolicy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsurancePolicyExpiration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WSPLiabilityDateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WSPBalanceOwed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxIDNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastYearPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserModified)
        </th> -->
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalZipcode)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalCounty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcquireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarketValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertySource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegallyAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicallyAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WSPOwned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsuranceRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsuranceCarrier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsurancePolicy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsurancePolicyExpiration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WSPLiabilityDateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WSPBalanceOwed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxIDNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastYearPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserModified)
        </td>
        -->
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.propertyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.propertyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.propertyID })
        </td>
    </tr>
}

</table>
