@model WSPManage.Models.loan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <h2>Details for Loan #@Html.ValueFor(model => model.loanID)</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Active)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Active)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LoanOnly)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoanOnly)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.customerID)
                </dt>

                <dd>
                    @ViewBag.customerIDName
                    @* @Html.DisplayFor(model => model.customerID) *@
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.propertyID)
                </dt>

                <dd>
                    @ViewBag.propertyIDName
                    @* @Html.DisplayFor(model => model.propertyID) *@
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SalePrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SalePrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DownPayment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DownPayment)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ContractDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContractDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ClosingDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ClosingDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LoanAmount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoanAmount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.InterestRate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.InterestRate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Period)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Period)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Payment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Payment)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstPaymentDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstPaymentDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ValueToCalc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ValueToCalc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LoanNotes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoanNotes)
                </dd>
                
            </dl>
        </div>
<hr />

<p style="text-align: right;">
    Modified on <font color="red">@Html.ValueFor(model => model.DateModified)</font> by <font color="red">@Html.ValueFor(model => model.UserModified)</font> <br />
    Created on <font color="red">@Html.ValueFor(model => model.DateCreated)</font> by <font color="red">@Html.ValueFor(model => model.UserCreated)</font>
</p>

<hr />
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.loanID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>


Monthly Payment = @ViewBag.MonthlyPayment;


<table border="2" cellspacing="10" cellpadding="5">
    <tr>
        <th>Payment Date</th>
        <th>Payment Number</th>
        <th>Payment Amount</th>
        <th>Principal Amount</th>
        <th>Interest Amount</th>
        <th>Principal Balance</th>
    </tr>
    @foreach (var entry in ViewBag.thisAmortizationScheduleList as IEnumerable<WSPManage.Models.amortizationScheduleEntry>)
    {
        <tr>
            <td>@entry.PaymentDate.ToShortDateString()</td>
            <td>@entry.PaymentNumber</td>
            <td>@entry.PaymentAmount</td>
            <td>@entry.Principal</td>
            <td>@entry.Interest</td>
            <td>@entry.PrincipalBalance</td>
        </tr>

    }
</table>
